<div class="main-container">

  <h1>Welcome!</h1>


  <% if user_signed_in? %>
    <%= link_to "Play!", new_game_url %><br><br>
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
  <% else %>
    <p>You need an account in order to play this game:</p><br>
    <%= link_to "Sign in / Sign up", new_user_session_path %>
  <% end %>
</div>
