<div class="main-container">
  <h1>Conway's Game of Life</h1>
  <p>Generation <%= @game.generation %>:</p><br>
  <div class="matrix">
    <% @game.matrix.each do |row|  %>
      <% row.each do |cell| %>
        <%= cell ? "🟢" : "🔵" %>
      <% end %>
      <br>
    <% end %>
  </div>
  <br>
  <%= link_to 'Next', game_path(@game), method: :put %><br><br>
  <%= link_to 'Start again', new_game_url %>
</div>
